/** Custom styles **/

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1,
h2 {
    font-weight: 300;
}

h3,
h5 {
    font-weight: 600;
}

h1 {
    font-size: 2.825em;
}

h2 {
    font-size: 2.225em;
}

h3 {
    font-size: 1.225em;
}

h4 {
    font-size: 0.825em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444;
}

h5 {
    font-size: 0.8em;
}

p {
    font-size: 1.125em;
}

pre {
    font-size: 0.825em;
}

img {
    margin: 2em 2.5em;
}

blockquote {
    font-size: 1em;
}

.text-success {
    color: limegreen;
}