<h2>Workout Tracker</h2>
<form method="post" action="/" id="workout-form">
    <p>Workout name: <input type="text" name="name" id="name"></p>
    <p>Reps: <input type="number" name="reps" id="reps"></p>
    <p>Weight: <input type="number" name="weight" id="weight"></p>
    <p>Date: <input type="date" name="date" id="date"></p>
    <p>Measurement: <input type="radio" name="measurement" id="lbs" value="1"> Pounds</input> <input type="radio" name="measurement" id="kg" value="0"> Kilograms</input></p>
    <p><input type="submit" id="workout-submit" name="New List" value="Log Exercise"></p>
    <input type="hidden" name="id" id="id">
</form>