<h2>Credits</h2>
<p>Style and organization inspired by Authentic Jobs’ API documentation. <a href="https://authenticjobs.com/api/docs" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></p>
<p>Uses Bootstrap's base styles, grid, components, etc. <a href="http://www.getbootstrap.com" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></p>
<p>Base theme is Simple Sidebar by Start Bootstrap. <a href="http://startbootstrap.com/template-overviews/simple-sidebar/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></p>


<hr>
<a href="/data" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Response Data</a>