<h2>Introduction</h2>

<p class="lead">This guide aims to improve the official, sparse documentation for <a href="http://www.indeed.com" target="_blank">Indeed.com's</a> API by explaining how to get started, expanding on the existing API reference, and including code examples to demonstrate what the API can do.</p>

<img class="img-responsive img-thumbnail" src="/images/indeed-intro.png" alt="Home page search form" title="Home page search form">

<hr>
<a class="btn btn-default pull-right" href="/start">Getting Started <span class="glyphicon glyphicon-chevron-right"></span></a>